header#main-header {
    height: 60px;
    background: #da552f;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
}

.product-list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-list .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.product-list .actions button:hover {
    opacity: .7;
}

.product-list .actions button[disabled] {
    opacity: .5;
    cursor: default;
}

.product-list .actions button[disabled]:hover {
    opacity: .5;
}